html {
	scroll-behavior: smooth;
  }
  
body {
	background:#040a14;
	color: white;
	margin: 0px;
	padding: 0px;
}
header h1{
	text-align: center;
	justify-content: center;
	color: white;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 30px; 
	margin: auto;
	padding: 2rem;
}
.main{
	overflow: auto;
	max-width: 70%;
	background-color:#071222;
	border-radius: 1rem;
	margin: auto;
	padding: 2rem;
}
.main h1{
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 3rem;
}
.main .sub-left{
	width: 70%;
	overflow: auto;
	border-style:solid;
	border-width: 0.1px;
	border-radius: 0.1rem;
	border-color: rgba(0, 255, 255, 0.603);
	float: left;	
	transition-duration: 10ms ease;
}

.main .sub-left-inner{
	float: left;	
	margin: 1rem;
	margin-left: 5rem;
	padding: 0px;
}
.main .sub-left img{
	border-radius: 10%;
	width: 160px;
	height: 80px;
	margin-top: 3rem;
	float: right;
	padding-right: 6rem;
	border-color: aqua;
	
}
.main .sub-right{
	width: 70%;
	overflow: auto;
	border-style:solid;
	border-width: 0.1px;
	border-radius: 0.1rem;
	border-color: rgba(0, 255, 255, 0.671);
	margin: 1rem;
	float: right;
}

.main .sub-right-inner{
	float: right;	
	margin: 1rem;
	margin-right: 5rem;
	padding: 0px;
}

.main .sub-right img{
	border-radius: 10%;
	width: 160px;
	height: 80px;
	margin-top: 3rem;
	float: left;
	padding-left: 6rem;
}

.main .sub-left h3, .main .sub-right h3{
	text-align: center;
	margin-left:2rem;
	font-size: 30px;	
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;	

}

.main .sub-left button, .main .sub-right button{
	text-align: center;
	color: rgb(11, 221, 228);
	background-color: rgb(37, 33, 33);
	font-weight: 500;
	font-size: 15px;
	padding: 0.5rem;
	max-width: 90%;
	margin: 0 1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;	
}
.main .sub-left button:hover, .main .sub-right button:hover{
	background-color: aqua;
	color: black;
}

.main .sub-left:hover, .main .sub-right:hover{
	border-style: solid;
	border-color: white;
	box-shadow: 3px;
}
.footer{
	overflow: hidden;
	text-align: center;
	width: 100%;
	font-size: 2rem;
	margin-bottom: 1%;
	margin-top: 4%;
	}
.footer i{
		margin-left: 2rem;
}

footer div a{
	text-decoration: none;
	color: white;
}

footer div a:hover{
	color:rgb(255, 0, 0);
}

.footer{
	max-width: 50%;
	margin:auto;
	overflow: hidden;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1%;
	margin-top: 4%;
	border-style: solid;
	border-radius: 1rem;
	border-color: white;
	border-width: 1px;
	}
.footer i{
	margin-left: 2rem;
}
.footer h2{
	margin:1rem;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2rem
}
